<%= turbo_frame_tag "modal" do %>
        <%# controller: 'modal', action: 'click->modal#open', modal_target: 'link',  %>
  <div id="post" class="modal" data-controller="modal" data-modal-target="modal">
    <div class="modal-content">
      <span class="close d-flex align-self-end" data-action="click->modal#close">X</span>
      <h1><%= @blog.title %></h1>
      <p><%=@blog.rich_content%></p>

    </div>
  </div>

<% end %>
