// Specific CSS for your home-page
body {
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  background-color: $rafi-grey;
  padding: 40px;
  margin-bottom: 40px;
  border-radius: 20px;
}

.session {
  color: white;
  width: 400px;
}

#about-me {
  h3 {
    color: $rafi-black;
  }

  p {
    color: $rafi-orange;
    text-align: justify;
  }

  border-radius: 15px;
  padding: 20px;
}

#blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 20px;

  h3 {
    color: $rafi-black;
    padding: 40px;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    height: 200px !important;
    a {
      text-decoration: none;
    }
  }

  .card {
    display: flex;
    width: 200px;
    height: 150px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  @media(max-width: 1200px) {
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media(max-width: 1199px) {
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media(max-width: 768px) {
    .cards {
      grid-template-columns: 1fr;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .card {
      width: 300px;
    }
  }

  @media(max-width: 415px) {
    .cards {
      grid-template-columns: 1fr;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .card {
      width: 150px;
    }
  }

}

#stack {
  p {
    font-size: 36px;
    margin-right: 24px;
  }
}

.footer {
  background-color: $rafi-black;
  height: 150px;

  ul {
    margin: 0 auto;
    padding: 0;
  }

  li {
    display: inline;
    text-decoration: none;
    font-size: 36px;
    text-align: center;
    color: $rafi-orange;
    margin: 20px;
  }

  p {
    color: $rafi-orange;
    margin-top: 10px;
  }
}
