// Specific CSS for your home-page
body {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.session {
  color: white;
  width: 400px;
}

#about-me {
  h3 {
    color: $rafi-grey;
  }

  p {
    color: $rafi-orange;
    text-align: justify;
  }

  border-radius: 15px;
  padding: 20px;
}

#blog {
  h3 {
    color: $rafi-grey;
  }

  border-radius: 15px;
  padding: 20px;

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
  }

  .card {
    display: flex;
    width: 200px;
    height: 150px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    justify-content: center;
    align-items: center;
  }

  @media(max-width: 1400px) {
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media(max-width: 992px) {
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media(max-width: 768px) {
    .cards {
      grid-template-columns: 1fr;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .card {
      width: 300px;
    }
  }

}

#stack {
  p {
    font-size: 36px;
    margin-right: 24px;
  }
}

.footer {
  background-color: $rafi-black;
  height: 150px;

  ul {
    margin: 0 auto;
    padding: 0;
  }

  li {
    display: inline;
    text-decoration: none;
    font-size: 36px;
    text-align: center;
    color: $rafi-orange;
    margin: 20px;
  }

  p {
    color: $rafi-orange;
    margin-top: 10px;
  }
}
